{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock title %}



{% block main %}

<!-- ======= About Section ======= -->
{% include 'kitchen/components/_about_section.html' %}
<!-- End About Section -->

<!-- ======= Events Section ======= -->
{% include 'kitchen/components/_events.html' %}
<!-- End Events Section -->

<!-- ======= Book A Table Section ======= -->
{% include 'kitchen/components/_book_a_table.html' %}
<!-- End Book A Table Section -->

<!-- ======= Gallery Section ======= -->
{% include 'kitchen/components/_gallery.html' %}
<!-- End Gallery Section -->

<!-- ======= Chefs Section ======= -->
{% include 'kitchen/components/_chefs.html' %}
<!-- End Chefs Section -->

<!-- ======= Contact Section ======= -->
{% include 'kitchen/components/_contact.html' %}
<!-- End Contact Section -->
{% endblock main %}


































